

*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
    color:aliceblue;
    text-align: center;
    height: 50px;
    padding: 12px;
    font-size: 30px;
}
nav ul{
    list-style-type: none;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    position: relative;
    padding: 5%;
}
.box{
    border: 2px solid black;
    display: flex;
    font-size: larger;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.box:hover{
    background-color: rgb(247, 225, 247);
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}

